/* common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-discription {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-text {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Navigations Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.nav-styles {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
    color: #474747;
}

/* header styles */
.had {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-contant {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greting {
    font-size: 45px;
    margin: 0px;
    color: #474747;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 30px;
}

.banner-writing {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* main section styles */


/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}

main {
    max-width: 1150px;
    margin: 0 auto;
}

.sotani {
    display: flex;
    justify-content: space-around;
}

.about-info-container {
    text-align: center;
}

#section-w-i-do {
    padding: 30px 150px;
}