/* common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-discription {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-text {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Navigations Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.nav-styles {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
    color: #474747;
}

/* header styles */
.had {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-contant {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greting {
    font-size: 45px;
    margin: 0px;
    color: #474747;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 30px;
}

.banner-writing {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* main section styles */


/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}

main {
    max-width: 1150px;
    margin: 0 auto;
}

.sotani {
    display: flex;
    justify-content: space-around;
}

.about-info-container {
    text-align: center;
}


/* skills releted styles */

#section-w-i-do {
    padding: 30px 150px;
}

section {
    margin-top: 130px;
}

.skills-container {
    display: flex;
    gap: 20px;
}

.skills {
    padding: 30px;
    /* background-color: rgb(244, 240, 240); */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills:hover {
    background-color: rgb(252, 251, 250);
    box-shadow: 10px 10px 10px;
}


/* Resume section styles */

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-education,
.resume-title {
    color: #757575;
    font-size: 16px;
}

.resume-item-education {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}


.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-container hr {
    margin: 30px 0px;

}

.resume-title1 {
    margin-bottom: 30px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}


/* footer styles */

footer {
    display: flex;
    padding: 130px 200px;
    background-color: #FFF8F3;
    margin-top: 100px;
}

.footer-collum {
    color: #181818;
    font-size: 35px;
    font-weight: 700;

}

.section-discription {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}